@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.create-post-icon {
  color: #e67e22;
}

.nav-link, .navbar-brand {
  font-family: 'Ubuntu', sans-serif !important;
}

.create-post-text {
  color: #e67e22 !important;
}

.btn-primary {
  background-color: #e67e22 !important;
  border: 1px solid #e67e22 !important;
}

.btn-primary:hover {
  background-color: #d35400 !important;
}

.navbar {
  position: fixed !important;
  top:0;
  width: 100%;
}
