.comment-wrapper {
    width: 80%;
    border-radius: 10px;
    background-color: white;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    margin-bottom: 10px;
}

.author-image-wrapper {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author-image {
    width: 50px; 
    height: 50px;
    /* background-color: #e67e22; */
    border-radius: 25px;
}

.comment-content-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment-content-wrapper span {
    color: grey;    
}

.comment-content-wrapper p {
    color: black;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.new-comment {
    width: 80%;
}

.delete-comment {
    color: red !important;
    cursor: pointer;
}